# Estatística descritiva
- 1. Leitura de Dados
- 2. Métodos estatísticos
    - Máximo
    - Mínimo
    - Média
    - Mediana
    - Moda
    - Desvio Padrão
    - Amplitude
    - Count
    - Valores únicos
    - Count valores únicos
    - Somatório
    - Quartis
    - Describe()
    - Covariança
    - Correlação
   
<img src='https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg'>

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

## 1. Criando um DataFrame

In [4]:
df = pd.read_csv('data/sales_clear.csv')

In [5]:
df.head(5)

,Start_Date,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Active
0,2015-01-10,10002,Quest Industries,125000.0,162500.0,0.30,500.0,True
1,2014-06-15,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,True
2,2016-03-29,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,True
3,2015-10-27,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,True
4,2014-02-02,651029,Harbor Co,15000.0,12750.0,-0.15,NaN,False

## 2. Métodos estatísticos

**Valor Máximo**

In [6]:
df.max()

Start_Date             2016-03-29
Customer Number            651029
Customer Name      Smith Plumbing
2016                     920000.0
2017                    1012000.0
Percent Growth                0.3
Jan Units                   700.0
Active                       True
dtype: object

**Valor Mínimo**

In [7]:
df.min()

Start_Date              2014-02-02
Customer Number              10002
Customer Name      ACME Industrial
2016                       15000.0
2017                       12750.0
Percent Growth               -0.15
Jan Units                     75.0
Active                       False
dtype: object

**Desvio Padrão**

In [8]:
df.std(numeric_only=True)

Customer Number    320838.999788
2016               374476.300986
2017               415142.460488
Percent Growth          0.179081
Jan Units             300.693643
Active                  0.447214
dtype: float64

**Count**

In [9]:
df.count()

Start_Date         5
Customer Number    5
Customer Name      5
2016               5
2017               5
Percent Growth     5
Jan Units          4
Active             5
dtype: int64

**Somatório**

In [10]:
df.sum(numeric_only=True)

Customer Number    1261686.00
2016               1460000.00
2017               1739750.00
Percent Growth           0.54
Jan Units             1400.00
Active                   4.00
dtype: float64

**Counte elementos únicos**

In [11]:
df.nunique()

Start_Date         5
Customer Number    5
Customer Name      5
2016               5
2017               5
Percent Growth     5
Jan Units          4
Active             2
dtype: int64

**Liste os elementos únicos**

In [12]:
df['Customer Name'].unique()

array(['Quest Industries', 'Smith Plumbing', 'ACME Industrial',
       'Brekke LTD', 'Harbor Co'], dtype=object)

**Counte o valor de cada classe**

In [13]:
df.value_counts(subset=['Customer Name'])

Customer Name
ACME Industrial     1
Brekke LTD          1
Harbor Co           1
Quest Industries    1
Smith Plumbing      1
dtype: int64

In [14]:
df['Customer Name'].value_counts()

Quest Industries    1
Smith Plumbing      1
ACME Industrial     1
Brekke LTD          1
Harbor Co           1
Name: Customer Name, dtype: int64

**Mediana**

In [15]:
df.median(numeric_only=True)

Customer Number     24900.0
2016               125000.0
2017               162500.0
Percent Growth          0.1
Jan Units             312.5
Active                  1.0
dtype: float64

**Moda**

In [16]:
df.mode()

,Start_Date,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Active
0,2014-02-02,10002,ACME Industrial,15000.0,12750.0,-0.15,75.0,True
1,2014-06-15,23477,Brekke LTD,50000.0,62500.0,0.04,125.0,NaN
2,2015-01-10,24900,Harbor Co,125000.0,162500.0,0.10,500.0,NaN
3,2015-10-27,552278,Quest Industries,350000.0,490000.0,0.25,700.0,NaN
4,2016-03-29,651029,Smith Plumbing,920000.0,1012000.0,0.30,NaN,NaN

In [17]:
df['Customer Name'].mode()

0     ACME Industrial
1          Brekke LTD
2           Harbor Co
3    Quest Industries
4      Smith Plumbing
dtype: object

**Quartis**

In [18]:
df.quantile(q=0.5)

Customer Number     24900.0
2016               125000.0
2017               162500.0
Percent Growth          0.1
Jan Units             312.5
Active                  1.0
Name: 0.5, dtype: float64

**Retorna os dados normalizados considerando N-1**

In [19]:
df.skew(numeric_only=True)

Customer Number    0.660770
2016               1.648651
2017               1.330057
Percent Growth    -0.547559
Jan Units          0.344825
Active            -2.236068
dtype: float64

**Retorne um sumário estatístico com os dados**

In [20]:
df.describe()

,Customer Number,2016,2017,Percent Growth,Jan Units
count,5.000000,5.000000,5.000000e+00,5.000000,4.000000
mean,252337.200000,292000.000000,3.479500e+05,0.108000,350.000000
std,320838.999788,374476.300986,4.151425e+05,0.179081,300.693643
min,10002.000000,15000.000000,1.275000e+04,-0.150000,75.000000
25%,23477.000000,50000.000000,6.250000e+04,0.040000,112.500000
50%,24900.000000,125000.000000,1.625000e+05,0.100000,312.500000
75%,552278.000000,350000.000000,4.900000e+05,0.250000,550.000000
max,651029.000000,920000.000000,1.012000e+06,0.300000,700.000000

**Retorne várias estatísticas personalizadas usando o ``agg()``**

In [21]:
df.agg({'2016':['mean','max','min'], 
       '2017':['mean','max','min']})

          2016       2017
mean  292000.0   347950.0
max   920000.0  1012000.0
min    15000.0    12750.0

**Covariança**

In [22]:
df[['2016','2017']].cov()

              2016          2017
2016  1.402325e+11  1.545404e+11
2017  1.545404e+11  1.723433e+11

**Medindo a correlação entre variáveis**

In [23]:
df.corr()

,Customer Number,2016,2017,Percent Growth,Jan Units,Active
Customer Number,1.000000,0.334150,0.269337,-0.734572,0.759853,-0.694665
2016,0.334150,1.000000,0.994078,-0.014651,0.656752,0.413505
2017,0.269337,0.994078,1.000000,-0.015571,0.595440,0.451369
Percent Growth,-0.734572,-0.014651,-0.015571,1.000000,0.115307,0.805370
Jan Units,0.759853,0.656752,0.595440,0.115307,1.000000,NaN
Active,-0.694665,0.413505,0.451369,0.805370,NaN,1.000000

In [24]:
df[['2016','2017']].corr()

          2016      2017
2016  1.000000  0.994078
2017  0.994078  1.000000

In [25]:
df[['2016','2017']].corr(method='spearman')

      2016  2017
2016   1.0   1.0
2017   1.0   1.0