# Exercício: Lidando com Valores Ausentes

**Importe as bibliotecas pandas e numpy**

In [5]:
import pandas as  pd
import numpy as np

**Crie um dataframe a partir do seguinte dicionário {'A':[1,2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}**

In [28]:
dicionario = {'A':[1,2, np.nan], 
      'B':[5, np.nan, np.nan], 
      'C':[1,2,3]
}

df = pd.DataFrame(dicionario)

###### Verifique os valores ausentes

In [29]:
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

**Some os valores ausentes para cada coluna**

In [16]:
df.isnull().sum()

A    1
B    2
C    0
dtype: int64

###### Apague os valores ausentes

In [21]:
df.dropna()

     A    B  C
0  1.0  5.0  1

##### Substituindo valores ausentes por um valor qualquer (zero, por exemplo)

In [23]:
df = df.fillna(0)
df

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

##### Substituindo valores ausentes pela média de uma coluna

In [30]:
df.fillna(df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3