# Atividade de Pandas -
#### Conteúdo: 
- Seleção de Dados por String
- Expressão regular

**1. Escreva um programa usando Pandas que adicione zeros à erqueda matendo todos os dados com até 8 dígitos**
```
Original dataframe:
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeros:
     amount
0  00000010
1  00000250
2  00003000
3  00040000

```

In [36]:
import pandas as pd
import numpy as np
data = ['10', '250', '3000', '40000', '500000']
df = pd.Series(data)

In [32]:
df.str.zfill(8)

0    00000010
1    00000250
2    00003000
3    00040000
4    00500000
dtype: object

**2. Escreva um programa usando Pandas que irá remover os espaços em branco, à esquerda, à direita e ambos**
```
Original series:
Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')

Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

Remove left sided whitespace
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

Remove Right sided whitespace
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')
```

In [9]:
#df = pd.Series([' Green', 'Black', ' Red', 'White', ' Pink'])
df.index = [' Green', 'Black ', ' Red ', 'White', ' Pink ']

In [10]:
print('Remove whitespace: ', df.index.str.strip())

Remove whitespace:  Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

In [39]:
print('Remove left sided whitespace: ', df.index.str.lstrip())

Remove left sided whitespace:  Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

In [40]:
print('Remove Right sided whitespace: ', df.index.str.rstrip())

Remove Right sided whitespace:  Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

**3. Escreva um programa usando Pandas que converte dados de string para maísculo para mínúsculo e apresenta o tamanho de cada string**
```
Original series:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Convert all string values of the said Series to upper case:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

Convert all string values of the said Series to lower case:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

Length of the string values of the said Series:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64  
```

In [37]:
df = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])

In [38]:
print("Original series:")
print(df)

Original series:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

In [40]:
print("\nConvert all string values of the said Series to upper case:")
print(df.str.upper())

Convert all string values of the said Series to upper case:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

In [41]:
print("\nConvert all string values of the said Series to lower case:")
print(df.str.lower())

Convert all string values of the said Series to lower case:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

In [42]:
print("\nLength of the string values of the said Series:")
print(df.str.len())

Length of the string values of the said Series:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

**4. Escreva um programa usando Pandas que conte a ocorrência de uma string em uma coluna de um dataframe**
```
Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurrence of 2 in date_of_birth column:
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4
```

In [43]:
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

In [44]:
print("Original DataFrame:")
print(df)
print("\nCount occurrence of 2 in date_of_birth column:")
df['count'] = list(map(lambda x: x.count("2"), df['name_code']))
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurrence of 2 in date_of_birth column:
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4

**5. Escreva um programa usando Pandas que verifica se duas palavras estão presente em uma coluna específica de um dataframe**
```
Original DataFrame:
  company_code                   address
0        c0001          9910 Surrey Ave.
1        c0002         92 N. Bishop Ave.
2        c0003     9910 Golden Star Ave.
3        c0003            102 Dunbar St.
4        c0004  17 West Livingston Court

Present two words!
  company_code                   address        check_two_words
0        c0001          9910 Surrey Ave.       9910 Surrey Ave.
1        c0002         92 N. Bishop Ave.                       
2        c0003     9910 Golden Star Ave.  9910 Golden Star Ave.
3        c0003            102 Dunbar St.                       
4        c0004  17 West Livingston Court 
```

In [45]:
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['9910 Surrey Ave.','92 N. Bishop Ave.','9910 Golden Star Ave.', '102 Dunbar St.', '17 West Livingston Court']
    })

In [46]:
print("Original DataFrame:")
print(df)

Original DataFrame:
  company_code                   address
0        c0001          9910 Surrey Ave.
1        c0002         92 N. Bishop Ave.
2        c0003     9910 Golden Star Ave.
3        c0003            102 Dunbar St.
4        c0004  17 West Livingston Court

In [47]:
def test_and_cond(text):
    result = re.findall(r'(?=.*Ave.)(?=.*9910).*', text) 
    return " ".join(result)
df['check_two_words']=df['address'].apply(lambda x : test_and_cond(x))
print("\nPresent two words!")
print(df)

Present two words!
  company_code                   address        check_two_words
0        c0001          9910 Surrey Ave.       9910 Surrey Ave.
1        c0002         92 N. Bishop Ave.
2        c0003     9910 Golden Star Ave.  9910 Golden Star Ave.
3        c0003            102 Dunbar St.
4        c0004  17 West Livingston Court